---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

<!-- Students Section -->
{% if page.students %}
  <h2>Current Students</h2>
  <ul>
    {% for student in site.data.students %}
      <li>
        {% if student[1].url %}
          <strong><a href="{{ student[1].url }}" target="_blank">{{ student[1].firstname }} {{ student[0] }}</a></strong>,
        {% else %}
          <strong>{{ student[1].firstname }} {{ student[0] }}</strong>,
        {% endif %}
        {{ student[1].year }}{% if student[1].year_end %} - {{ student[1].year_end }}{% endif %}: 
        <em>{{ student[1].position }}</em><br>
        {% if student[1].paper %}
          <span>Paper(s):
            {% for paper in student[1].paper %}
              <a href="{{ paper[1] }}">{{ paper[0] }}</a> ({{ paper[2] }}){% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </span><br>
        {% endif %}
      </li><br>
    {% endfor %}
  </ul>

  <h2>Alumni</h2>
  <ul>
    {% for student in site.data.alumni %}
      <li>
        {% if student[1].url %}
          <strong><a href="{{ student[1].url }}" target="_blank">{{ student[1].firstname }} {{ student[0] }}</a></strong>, 
        {% else %}
          <strong>{{ student[1].firstname }} {{ student[0] }}</strong>,
        {% endif %}
        {{ student[1].year }}{% if student[1].year_end %} - {{ student[1].year_end }}{% endif %}:
        <em>{{ student[1].position }}</em><br>
        {% if student[1].paper %}
          <span>Paper(s):
            {% for paper in student[1].paper %}
              <a href="{{ paper[1] }}">{{ paper[0] }}</a> ({{ paper[2] }}){% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </span><br>
        {% endif %}
        {% if student[1].position_now %}
          <span>Current position: {{ student[1].position_now }}</span><br>
        {% endif %}
      </li><br>
    {% endfor %}
  </ul>
{% endif %}

<h2>Scientific Service</h2>
<p>
  <strong>Reviewer:</strong><br>
  Conferences: CVPR 2021–2025, ECCV/ICCV 2021–2024, ICLR 2025, WACV 2024, IROS 2022, AAAI 2021<br>
  Journals: IJCV 2022, TPAMI 2021–2022, T-ITS 2023<br>
  Workshops: ROAD++ (@ICCV 2023)
</p>
<p>
  <strong>PhD Jury Member:</strong><br>
  <a href="https://f-barto.github.io/" target="_blank">Florent Bartoccioni</a> (Invited Member, 2023)
</p>

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}

  </article>
</div>
